{{!Begin of Social Icon List}}
<ul class="social">
	{{!Begin Social item}}


	{{!Begin Social item}}
	<li class="twitter">
		<a href="https://twitter.com/Pamela_Zamb" target="_blank" title="Twitter"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="facebook">
		<a href="https://www.facebook.com/pages/Pamela-Zambrano/832297070176240" target="_blank" title="Facebook"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-facebook"></i>
		</a>
	</li>
	{{!End Social item}}
	{{!Paste your new social icon here}}
</ul>
{{!End of Social Icon List}}